* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.game-board {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.box {
  border: 1px solid black;
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:not(.x):not(.o):hover {
  cursor: pointer;
}

.box:nth-last-child(1n + 7) {
  border-top: none;
}
.box:nth-child(3n + 1) {
  border-left: none;
}
.box:nth-child(1n + 7) {
  border-bottom: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}
/*-------- X Marker---------*/
.box.x::before,
.box.x::after,
.game-board.x .box:not(.x):not(.o):hover::before,
.game-board.x .box:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
}

.box.x::before,
.game-board.x .box:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.box.x::after,
.game-board.x .box:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}
/*------- Circle Marker-------*/
.box.o::before,
.box.o::after,
.game-board.o .box:not(.x):not(.o):hover::before,
.game-board.o .box:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
}

.box.o::before,
.game-board.o .box:not(.x):not(.o):hover::before {
  border-radius: 50%;
  background-color: black;
  width: var(--mark-size);
  height: var(--mark-size);
}
.box.o::after,
.game-board.o .box:not(.x):not(.o):hover::after {
  border-radius: 50%;
  background-color: white;
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
}

/*-----Change hover color grey for both markers ----*/
.game-board.x .box:not(.x):not(.o):hover::before,
.game-board.x .box:not(.x):not(.o):hover::after,
.game-board.o .box:not(.x):not(.o):hover::before {
  background-color: lightgrey;
}

/*-----Winner screen-----*/
.winner-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  display: none;
}

#restart-button {
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 2rem;
}
#restart-button:hover {
  border-color: white;
  cursor: pointer;
}
